.button {
  background: $blue;
  border: 0;
  border-radius: 0;
  color: $white;
  font-family: $jura;
  letter-spacing: 1px;
  padding: $s-size $m-size;
  transition: all .1s;
  &::selection {
    background: transparent;
  }
}
.button:active {
  transform: translateY(3px);
}
