.filter {
  @include box-shadow(0, 0, 1rem, 0, $black);
  background: $white;
  display: flex;
  flex-direction: column;
  margin: 0 7.5%;
  padding: $s-size;
  position: fixed;
  top: 45%;
  width: 85%;
  z-index: 2;
  transform: translateY(-50%);
  transition: transform .5s;
}
.filter--hidden {
  transform: translateY(-200%);
}
.filter__text__search {
  display: flex;
}
.filter__input {
  background: $light-grey;
  border: none;
  padding: $s-size/2;
  width: 100%;
}
.filter__input--points {
  display: inline-block;
  text-align: center;
  width: 5rem;
  margin: 0 $s-size;
}
.filter__title {
  font-family: $jura;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid $light-grey;
  margin: $l-size 0 $s-size;
  @media (max-width: $desktop - 1) {
    display: none;
  };
}
.filter__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: $m-size 0;
}
.filter__faction__search__radio-button {
  display: none;
}
.filter__label {
  border: 1px solid $light-grey;
  color: $light-grey;
  cursor: pointer;
  display: block;
  font-family: $jura;
  padding: $s-size/2 0;
  text-align: center;
  width: 20%;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: $light-grey;
    color: $white;
  }
}
// checked labels
input:checked + .filter__label {
  background: $blue;
  color: $white;
  border-color: $blue;
}
.filter__card__type__checkbox {
  @extend .filter__faction__search__radio-button;
}
.filter__label--checkbox {
  width: 47.5%;
}

.filter__points__text {
  text-align: center;
}
.filter__points__button {
  width: 100%;
  // margin: 0 25%;
}
.filter__toggle__button {
  @include box-shadow(0, 0, 1rem, 0, $black);
  background: $orange;
  border-radius: 50%;
  bottom: 7.2rem;
  height: 50px;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  right: $s-size;
  text-align: center;
  width: 50px;
  &:focus {
    outline: none;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
}
.filter__to-top {
  @extend .filter__toggle__button;
  right: $s-size * 2 + 5rem;
  text-decoration: none;
}
.filter__close {
  @include box-shadow(0, 0, 1rem, 0, $black);
  background: $orange;
  border: none;
  border-radius: 50%;
  color: $white;
  display: block;
  font-family: $jura;
  font-size: 2.2rem;
  line-height: 0;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
}
.filter__background {
  background: rgba(0,0,0,.5);
  height: 100vh;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  transition: opacity .3s;
}
.filter__background--hidden {
  opacity: 0;
  pointer-events: none;
  // transform: translateY(-101%);
}
