.form {
  display: flex;
  flex-direction: column;
  >* {
    margin: $m-size 0;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

.radio-button {
  display: none;
}

.label {
  border: 1px solid $light-grey;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  margin: 0 auto $s-size;
  padding: $s-size;
  text-align: center;
  transition: background .3s ease;
  width: 50%;
  &:hover {
    background: $light-grey;
    color: $white;
  }
}

:checked + .label {
  background: $blue;
  border: 1px solid $blue;
  color: $white;
}

.checkbox {
  @extend .radio-button;
}

.label--numbers {
  border-bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  &:hover {
    background: none;
    color: $black;
    cursor: default;
  }
}
