.header {
  background: $dark-blue;
  padding: $s-size;
}
.header__title{
  color: $white;
  font-family: $jura;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.header__title__text {
  margin: 0;
}
.header__button {
  display: none;
}
