* {
  box-sizing: border-box;
  // outline: 1px solid red;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: $spinnaker;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

strong {
  text-decoration: underline;
  font-style: italic;
}
hr {
box-sizing: border-box;
overflow: visible;
width: 100%;
}
